Project_env/
__pychache__/
.env
.config.py
DB/__pycache__/
DB/DB_Insert_tests/__pycache__/
Python/__pycache__/config.cpython-312.pyc
Python/Py_config/__pycache__/Py_connect.cpython-312.pyc
DB/DB_config/__pycache__/
DB/__pycache__/config.cpython-312.pyc
DB/__pycache__/config.cpython-312.pyc
DB/DB_config/__pycache__/DB_connect.cpython-312.pyc
DB/DB_config/__pycache__/DB_create.cpython-312.pyc
DB/DB_tables/__pycache__/DB_user_table.cpython-312.pyc
Python/__pycache__/
Python/__pycache__/config.cpython-312.pyc
Python/__pycache__/test.cpython-312.pyc
Python/__pycache__/config.cpython-312.pyc
Python/__pycache__/config.cpython-312.pyc
Python/Py_classes/__pycache__/
Python/Py_classes/__pycache__/__init__.cpython-312.pyc
Python/Py_classes/__pycache__/cls_budget.cpython-312.pyc
Python/Py_classes/__pycache__/cls_DB_connect.cpython-312.pyc
Python/Py_classes/__pycache__/cls_tests.cpython-312.pyc
